<div class="container" style="margin-top: 20px;margin-bottom: 20px;">
    <h1>Giỏ hàng</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Tổng giá tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cart of newCart">
                <td>{{cart.name}}</td>
                <td>{{cart.price}}.đ</td>
                <td><input id="quanti" type="number"></td>
                <td>{{cart.price }}.đ</td>
            </tr>
        </tbody>
    </table>
    <div style="margin-left: 500px">
        <button class="btn" style="background-color: orange;">Tiếp tục mua hàng</button>
        <button class="btn btn-primary" style="margin-left: 10px;">Thanh toán</button>
    </div>

</div>