<h1>Thêm mới sách</h1>
<form action="" class="form-group">
    <div class="mb-3">
        <label for=""><b>Tên sách</b></label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="mb-3">
        <label for=""><b>Tác giả</b></label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="mb-3">
        <label for=""><b>Phát Hành</b></label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="mb-3">
        <label for=""><b>Hình ảnh</b></label>
        <input type="file" name="name" class="form-control">
    </div>
    <div class="mb-3">
        <label for=""><b>Giá</b></label>
        <input type="number" name="name" class="form-control">
    </div>
    <div class="mb-3">
        <label for=""><b>Số lượng</b></label>
        <input type="number" name="name" class="form-control">
    </div>
    <div class="mb-3">
        <label for=""><b>Ngày</b></label>
        <input type="date" name="name" class="form-control">
    </div>
    <div class="mb-3">
        <label for=""><b>Mô tả</b></label>
        <br>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-append">
            <label class="input-group-text" for="inputGroupSelect02">Danh mục</label>
        </div>
        <select class="custom-select" id="inputGroupSelect02">
            <option selected>Danh mục</option>
            <option value="1">Sách dạy con làm giàu</option>
            <option value="2">Sách tiểu thuyết</option>
            <option value="3">Sách tâm tý, </option>
        </select>
    </div>
    <button class="btn btn-primary">Thêm mới </button>
</form>